<!doctype html>

<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Trings Home</title>

</head>

<body class="sign-up-page">

  <div class="container">
   <div class="box-header">
    <div class="logo">
        <%= image_tag ( "diamond-158431.svg") %>
    </div>

<h1 class="main-heading">Welcome to Tring</h1>
<p>Sign up to join our community, add your own gems and comments.</p>

<%= form_for(@user) do |f| %>

<%= f.label :first_name %>
<%= f.text_field :first_name %><br>

<%= f.label :last_name %>
<%= f.text_field :last_name %><br>

<%= f.label :email %>
<%= f.text_field :email %><br>

<%= f.submit "Sign Up" %>
<% end %>

</div>
</div><!-- container -->
</body>
</html>
