<h1> Name:<%= @user.name %></h1>
<h2> Email:<%= @user.email %></h2>
<img src="/profile-pics/<%=@user.img_url%>"><br>
Likes: <%= @user.likes %><br>
Comments:<%= @user.comments %>

<%= link_to("Edit profile", edit_user_path(@user)) %><br>
