<!doctype html>

<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Trings Home</title>

</head>

<body class="user-page">

<div class="container">
<img src="/profile-pics/<%=@user.img_url%>"><br>
<p><h3> Name: <%= @user.name %></h3>

<p><h3> Email: <%= @user.email %></h3>

<h4>Comments:</h4><h5><% @user.comments.each do |comment| %>
<p><%= comment.body %></p>
<% end %>
</h5>

<%= link_to("Edit profile", edit_user_path(@user)) %><br>


<h4>Liked Gems:</h4><h5><% @user.likes.each do |liked| %>
<p><%= link_to liked.city_gem.name, city_gem_path(liked.city_gem) %></p>
<p><img src="<%= liked.city_gem.img_url %>" </p>
<% end %>
<%= link_to "See all Citygems", city_gems_path %>
</h5>
</div>
