<h1> <%= @city_gem.name %></h1>

<img src="<%= @city_gem.img_url %>" />
<div class="container">
<p>Description: <%= @city_gem.description %></p>
<h3>Category: <%= @city_gem.category.name %></h3>
<h4>Address: <%= @city_gem.address%></h4>
<<<<<<< HEAD
</div>
=======
<%= @city_gem.comments %>




>>>>>>> de4f89179c1b1f2e7080fd01e374d3470a9077de

<% pre_like = @city_gem.likes.find { |like| like.user_id == current_user} %>
<% if pre_like %>
  <%= button_to 'Unlike', city_gem_like_path(@city_gem, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', city_gem_likes_path(@city_gem), method: :post %>
<% end %>

<p><%= @city_gem.likes.count %> <%= (@city_gem.likes.count) == 1 ? 'Like' : 'Likes'%></p>
