<h1> <%= @city_gem.name %></h1>

<img src="<%= @city_gem.img_url %>" />

<p>Description: <%= @city_gem.description %></p>
<h3>Category: <%= @city_gem.category.name %></h3>
<h4>Likes: <%= @city_gem.likes %></h4>
<h4>Address: <%= @city_gem.address%></h4>
<h4>Like: <%= link_to "like", city_gems_path(@city_gem), method: :post %></h4>
