<div class="container">
<h1> <%= @city_gem.name %></h1>
<img src="<%= @city_gem.img_url %>" class="img-fluid" alt="Responsive image" />

<p>Description: <%= @city_gem.description %></p>
<h3>Category: <%= @city_gem.category.name %></h3>
<h4>Address: <%= @city_gem.address%></h4>

<h3>Comments</h3>
<%= @city_gem.comments.size %>
<%= render partial: 'comments/form' %>
<%= render partial: 'city_gems/comment', collection: @city_gem.comments.reverse %>



<% pre_like = @city_gem.likes.find { |like| like.user_id == current_user} %>
<% if pre_like %>
  <%= button_to 'Unlike', city_gem_like_path(@city_gem, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', city_gem_likes_path(@city_gem), method: :post %>

<% end %>



</div>
