<h1> <%= @city_gem.name %></h1>

<img src="<%= @city_gem.img_url %>" />

<p>Description: <%= @city_gem.description %></p>
<h3>Category: <%= @city_gem.category.name %></h3>
<h4>Address: <%= @city_gem.address%></h4>
<%= button_to 'Like', city_gem_likes_path(@city_gem), method: :post%>
<p><%= @city_gem.likes.count %> <%= (@city_gem.likes.count) == 1 ? 'Like' : 'Likes'%></p>
